
<div class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="margin-left: 40%" routerLink="/"><img src="../../assets/logo.png" style="height: 35px" style="width: 35px"></a>
</div>

<!--header -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">SIC - Atendimento e controle</h1>
      <p class="lead">Sistema de integrado e controle para indústria de mineração!</p>
      <a class="btn btn-danger btn-lg" routerLink="acessar">Cadastre-se aqui!</a>
    </div>
  </div>

<div class="container">
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
  <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Usuário</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email ou usuário">
        <small id="emailHelp" class="form-text text-muted">Inserir o usuário cadastrado!</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
      </div>
      <a routerLink="logado" class="btn btn btn-success btn-lg">Acessar</a>
    </form>
  </div>
    
</div>

</div>