<div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="margin-left: 40%" routerLink="/logado"><img src="../../assets/logo.png" style="height: 35px" style="width: 35px"></a>
    </div>
    
    <!--header -->
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Seu envio foi realizado com sucesso</h1>
              <p class="lead">Agora {{nome}} você pode logar com suas credenciais cadastradas</p>
              <a class="btn btn-danger" routerLink="/">LOGIN</a>
    
            </div>
    </div>