<div class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="margin-left: 40%" routerLink="/logado"><img src="../../assets/logo.png" style="height: 35px" style="width: 35px"></a>
</div>

<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Barragens</h1>
          <p class="lead">Cadastrar ou buscar barragem no sistema</p>
        </div>
</div>

<dir class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

        <div class="navbar navbar-light bg-light">

            <label for="inputNome">Buscar Barragem</label>
            <form class="form-inline">
                <input class="form-control mr-sm-2" style="margin-right: 15px" type="search" placeholder="ID">
                <button class="btn btn-outline-success my-2 my-sm-0" ng-click="get_barragens()">Buscar</button>
            </form>

            <ul>
                    <li *ngFor="let barragem of barragens">
                      -- id: {{barragem.id}}
                      -- nome: {{barragem.nome}}
                      -- tipo: {{barragem.tipo}}
                      -- estado: {{barragem.estado}}
                    </li>
                  </ul> 

        </div>
        <hr class="style1">

            <form>
                <div class="form-group">
                  <label for="inputNome">ID</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="ID">
                </div>

                <div class="form-group">
                    <label for="inputNome">Nome da barragem</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Barragem">
                  </div>

                  <div class="form-group">
                      <label for="inputNome">Tipo</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tipo barragem">
                    </div>
                  
                    <div class="form-group">
                        <label for="inputNome">Estado</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Localizacão da barragem">
                      </div>
                    
                      <div class="form-group">
                          <label for="inputNome">Empresa</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Empresa que administtra a barragem">
                        </div>

                        <div class="form-group">
                            <label for="inputNome">Equipamentos</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Equipamentos instalados">
                          </div>
                        

                          <div class="form-group">
                              <label for="inputNome">Legislação vigente</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Lei vigente para esta barragem">
                            </div>

                <a class="btn btn-success btn-lg">Cadastrar</a>

              </form>
        </div>
    </div>


  

  
 